html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bs-body-font-family: "Rubik", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.scrollarea {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
}

.scrollarea::-webkit-scrollbar {
  width: 6px;
}

.scrollarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.scrollarea::-webkit-scrollbar-track {
  background: transparent;
}

.message {
  max-width: 80%;
}

@media (min-width: 872px) {
  .message {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .message {
    max-width: 40%;
  }
}

.user-message-justify {
  justify-content: flex-end;
}

@media (min-width: 1200px) {
  .user-message-justify {
    justify-content: flex-start;
    margin-left: 30px;
  }
}

#box {
  width: 90%;
  height: 90%;
}

@media (max-width: 872px) {
  #box {
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
  }
}

#sidebar {
  width: 15%;
}
#show-sidebar-button {
  display: none;
}
#content {
  overflow: auto;
}

@media (max-width: 600px) {
  #sidebar {
    width: 100%;
    border-radius: 0;
  }

  #sidebar .list-group-item.active {
    background-color: var(--bs-list-group-bg);
    color: var(--bs-list-group-color);
  }
  #box {
    overflow-y: auto !important;
  }
  #show-sidebar-button {
    display: inline-block;
  }
}
