{% extends "base.j2" %}
{% block main %}
<!-- Обёртка на весь экран -->
<div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1 class="mb-5 text-center">Reversl Admin Panel</h1>
    <main class="container" style="max-width: 350px;">
        <form method="POST" action="{{ url_for('ap_login') }}">
            <!-- CSRF токен -->
            <input type="hidden" name="csrf_token" value="{{ request.state.csrf_token }}">

            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" id="email" name="email" required />
            </div>

            <!-- Password -->
            <div class="mb-5">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" id="password" name="password" required />
            </div>

            <!-- Submit -->
            <div class="d-grid">
                <button class="btn btn-primary fs-5" type="submit">Login</button>
            </div>

            <!-- Ошибка -->
            <p class="text-danger text-center mt-3" style="height: 50px;">
                {% if request.query_params.get("error") %}
                Invalid credentials
                {% endif %}
            </p>
        </form>
    </main>
</div>
{% endblock %}