<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Reversl Admin Panel</title>
    <style type="text/css">
        html,
        body {
            height: 100%;
            width: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        body {
            display: flex;
            flex-direction: column;
            background-color: white;
        }

        header {
            height: 6%;
            z-index: 5;
            padding: 0 1%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        main {
            height: 100%;
            width: 100%;
            z-index: 4;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("https://papik.pro/uploads/posts/2021-11/1636593442_40-papik-pro-p-html-risunok-fona-41.jpg");
        }

        #page {
            width: 90%;
            height: 90%;
            overflow: hidden;
            border-radius: 10px;
            background-color: white;
        }

        button {
            border: none;
            background-color: transparent;
            padding: 5px;
            border-radius: 5px;
        }

        button.show {
            box-shadow: 0 1px 5px grey;
        }

        a.active {
            border-bottom: 1px solid black;
        }
    </style>
</head>

<body>
    <header class="shadow text-black">
        {% include "header.j2" %}
    </header>
    <main>
        <div id="page" class="shadow">
            {% block page %}
            {% endblock %}
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
</body>

</html>