{% extends "main.j2" %}
{% block page %}
<!-- Sidebar -->
<div id="sidebar" class="d-flex flex-column flex-shrink-0 bg-light border-end" style="min-width: 200px;">
    <div class="list-group list-group-flush overflow-auto">
        {% set active = 'active' if selected_user and request.user.uid == selected_user.uid else '' %}
        <a href="{{ url_for('ap_users').include_query_params(user_uid=request.user.uid) if not active else '#' }}"
            class="list-group-item list-group-item-action {{ active }}" onclick="hideSidebarOnMobile()">
            Me
        </a>
        {% for user in users %}
        {% set active = 'active' if selected_user and user.uid == selected_user.uid else '' %}
        <a href="{{ url_for('ap_users').include_query_params(user_uid=user.uid) if not active else '#' }}"
            class="list-group-item list-group-item-action {{ active }}" onclick="hideSidebarOnMobile()">
            user.email
        </a>
        {% endfor %}
    </div>
</div>

<!-- User content -->
{% if selected_user %}
<script>window.selected = true;</script>
<div id="content" class="flex-grow-1 d-flex flex-wrap">
    <!-- Info panel -->
    <div class="p-3 border-end flex-shrink-0 col-12 col-sm-6" style="min-width: 200px;">
        <div class="d-flex justify-content-between align-items-center mb-3 position-relative">
            <div>
                <button id="show-sidebar-button" type="button" class="btn btn-outline-secondary btn-sm"
                    onclick="window.history.back()">
                    <span class="bi bi-arrow-left"></span>
                </button>
            </div>
            <h5 class="position-absolute top-50 start-50 translate-middle">Info</h5>
            <div>
                <button type="button"
                    class="btn btn-sm btn-outline-primary {% if 'U_USER' not in request.user.permission_codes %}disabled{% endif %}"
                    data-bs-toggle="modal" data-bs-target="#editUserModal">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
        </div>
        <div>
            <div class="mb-3">
                <p class="mb-1"><strong>First Name:</strong><br> <span id="user-first-name">{{ selected_user.first_name
                        or
                        '-'
                        }}</span></p>
                <p class="mb-1"><strong>Last Name:</strong><br> <span id="user-last-name">{{ selected_user.last_name or
                        '-'
                        }}</span></p>
                <p class="mb-1"><strong>Patronymic Name:</strong><br> <span id="user-patronymic-name">{{
                        selected_user.patronymic_name or '-' }}</span></p>
            </div>

            <div>
                <p class="mb-1"><strong>Email:</strong><br> <span id="user-email">{{ selected_user.email or '-'
                        }}</span>
                </p>
                <p class="mb-0"><strong>Tel.:</strong><br> <span id="user-phone-number">{{ selected_user.phone_number or
                        '-'
                        }}</span></p>
            </div>
        </div>
    </div>

    {% include "modals/editUserInfo.j2" %}
    <script>window.urlForUpdateUserInfo = "{{ url_for('ap_update_user', user_uid=selected_user.uid) }}"</script>
    <script src="{{ get_static_url('js', 'editUserInfo.js') }}"></script>

    {% if "R_PERMISSION" in selected_user.permission_codes %}
    <!-- Permissions panel -->
    <div class="p-3 border-end flex-shrink-0 col-12 col-sm-6" style="min-width: 200px;">
        <div class="d-flex justify-content-between align-items-center mb-4 position-relative">
            <div></div>
            <h5 class="position-absolute top-50 start-50 translate-middle">Perms</h5>
            <div>
                <button type="button"
                    class="btn btn-sm btn-outline-primary {% if request.user.uid == selected_user.uid or 'U_PERMISSION' not in selected_user.permission_codes %}disabled{% endif %}"
                    data-bs-toggle="modal" data-bs-target="#editPermissionsModal">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
        </div>
        <table class="table table-bordered  table-sm w-auto mx-auto">
            <tbody>
                {% for category, keys in permission_groups.items() %}
                <tr class="table-secondary">
                    <td colspan="2"><strong>{{ category }}</strong></td>
                </tr>
                {% for key in keys %}
                <tr>
                    <td>{{ permission_code_name_map[key] }}</td>
                    <td class="text-center align-middle">
                        <div class="d-flex h-100 justify-content-center align-items-center">

                            <i id="perm-{{ key }}"
                                class="bi bi-{{ 'check' if key in selected_user.permission_codes else 'x' }}"></i>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "modals/editUserPermissions.j2" %}
    <script>
        window.permissionCodeNameMap = {{ permission_code_name_map | tojson | safe }}
        window.urlForUpdateUserPermissions = "{{ url_for('ap_update_user_permissions', user_uid=selected_user.uid) }}";
    </script>
    <script src="{{ get_static_url('js', 'editUserPermissions.js') }}"></script>
    {% endif %}
</div>
<script src="{{ get_static_url('js', 'adaptiveMain.js') }}"></script>
{% endif %}
{% endblock %}