{% extends "main.j2" %}
{% block page %}
<!-- Sidebar -->
<div class="d-flex flex-column flex-shrink-0 bg-light border-end" style="width: 15%;">
    <div class="list-group list-group-flush overflow-auto">
        {% for user in users %}
        {% set active = 'active' if selected_user and user.uid == selected_user.uid else '' %}
        <a href="{{ url_for('admin_panel_user', user_uid=user.uid) if not active else '#' }}"
            class="list-group-item list-group-item-action {{ active }}">
            User {{ user.uid }}
        </a>
        {% endfor %}
    </div>
</div>

<!-- User content -->
{% if selected_user %}
<div class="flex-grow-1 d-flex">
    <!-- Info panel -->
    <div class="p-3 border-end flex-shrink-0" style="width: 20%;">
        <h5 class="text-center">Info</h5>
        <p><strong>First Name:</strong> {{ selected_user.first_name or '-' }}</p>
        <p><strong>Last Name:</strong> {{ selected_user.last_name or '-' }}</p>
        <p><strong>Patronymic Name:</strong> {{ selected_user.patronymic_name or '-' }}</p>
        <p><strong>Email:</strong> {{ selected_user.email or '-' }}</p>
        <p><strong>Tel.:</strong> {{ selected_user.phone_number or '-' }}</p>
    </div>
</div>
{% endif %}
{% endblock %}